p {
/*Content - Width and Height*/
/*se puede usar pixeles (px) o tambuen usar porcentaje*/
width: 50%;
/*height: 50%;*/

/*Border*/
border: 2px solid blue;

/*Padding*/

/*padding: 10px;*/
padding-left: 40px;

/*Marging*/
margin: 100px;
}